
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #5671f8;
    outline-color: #c575d7;
    border-radius: 4px;

}
.active{
    background-color: #c575d7;
    border-color: #5671f8;
}